<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <p>Hola bienvenido a mi API de Monedero de COdigo</p>
        <p>presentado por: {{nombre}} {{edad}} </p>
        <p>los galacticos son :</p>
        {# esto es un comentario en Jinja: es una libreria  que renderiza html en el backend como #}

        <ol>
            {% for integrante in integrantes%}
            <li>{{integrante}}</li>
            {% endfor %}
        </ol>
        
        {{integrantes}}
        {# en Jinja podmeos usar los diccionarios como si fueran JSON en JS (diccionario.llave) #}
        <p>el usuario es: {{usuario.nombre}} </p>

        {# listar las selecciones de futbol en forma de tabla #}
        <table border="1">
            <tr>
                <th>seleccion</th>
                <th>clasificado</th>
            </tr>
            {# hacer aquí el ejercicio #}
            {% for seleccion in selecciones %}
            <tr>
                <td>
                    {{seleccion.nombre}}
                </td>
                <td>
                    {%  if seleccion.clasificado is true %}
                    'Nos vemos en Qatar'
                    {% elif seleccion.clasificado is false %}
                    'Con suerte en el próximo'
                    {% else %} 
                    'Aun no se sabe'
                    {% endif %}  
                </td>
            </tr>
            {% endfor %}
        </table>

    </body>
</html>